<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Graduate' rel='stylesheet'>
    <link rel="stylesheet" href="alreadyregistered.css">
    
</head>
<body>
    <div class="redblock"></div>   
    <p class="BDMS">BLOOD DONATION MANAGEMENT SYSTEM</p>
    <p class="alreadyreg">THIS DONOR IS ALREADY REGISTERED</p>
    <form action="register" method="get">
        <input type="submit" value="GO BACK ->" id  = "submit">
    </form>
    <img src="blood_drop.png" alt="" class="blooddrop">
</body>
</html>