<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bloodbankuser.css">
</head>
<body>
    <div class="redblock"></div>
    <div class="whiteline"></div>
    <div class="redline"></div>
    <img src="blood_drop.png" alt="" class="blooddrop">
    <p class="BDMS">BLOOD DONATION MANAGEMENT SYSTEM</p>
    <div class="profile"></div>    
    <input  name="userregister" value="1" class ="useless">
    <a href="checkrequests" class ="text1" method="get">
        <h3>Check requests</h3>
    </a>
<!-- add new camp or hospital -->

    <!-- <input  name="newbloodsample" value="2" class = "useless">
    <a href="" class ="text2" method="get">
        <h3>Request blood sample</h3>
    </a>  -->
    <p class="add">Address :</p>
    <p class="address">lorem ipsum ipsum lorem lorem ipsum ipsum lorem lore isp</p>
    <p class="PIN">PINCODE :</p>
    <p class="pincode">420666</p>
</body>
</html>