<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="campuser.css">
</head>
<body>
    <div class="redblock"></div>
    <div class="whiteline"></div>
    <div class="redline"></div>
    <img src="blood_drop.png" alt="" class="blooddrop">
    <p class="BDMS">BLOOD DONATION MANAGEMENT SYSTEM</p>
    <div class="profile"></div>    
    <!-- <p class="text1">REGISTER A NEW DONOR</p> -->
    <form action="post" >
        <input type="submit" class ="text1" value="REGISTER A NEW DONOR">
    </form>
    <form action="post" >
        <input type="submit" class ="text2" value="ADD A NEW BLOOD SAMPLE">
    </form>
    
</body>
</html>