<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Graduate' rel='stylesheet'>
    <link rel="stylesheet" href="checkrequests.css">
</head>
<body>
    <p class="pendingreq">PENDING REQUESTS</p>
    <img src="blood_drop.png" alt="" class="blooddrop">
    <div class="redblock"></div>
    <p class="requests">REQUESTS :</p>
    <table class="requesttable">
        <thead>
        <tr>
            <th>Hospital ID</th>
            <th>Hosptital Name</th>
            <th>Blood Type</th>
            <th>Rh factor</th>
            <th>Unit/s</th>
            <th>Approve</th>
        </tr>
        </thead>
        <tr>
            <td>1</td>
            <td>sms hospital</td> 
            <td>AB</td>
            <td>+</td>
            <td>100 ml</td>
            <td>
            <input type="button" value="" name ="submit" class = "submit">
            <!-- <input type="image" src="checked.png" alt=""> -->
            </td>
        </tr>
    </table>
    
</body>
</html>