<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="homepage.css">
    <link href='https://fonts.googleapis.com/css?family=Graduate' rel='stylesheet'>
</head>
<body>
    <div class="redblock"></div>
    <div class="oval1"></div>
    <p class="donate"><a href="/donate" style="text-decoration:none; color: #FFFF;">DONATE</a></p>
    <div class="oval2"></div>
    <p class="aboutus"><a href="/about" style="text-decoration:none; color: #FFFF;">About us</a></p>
    <div class="oval3"></div>
    <p class="registeredusers">NUMBER OF REGISTERED DONORS <br><br>
      <%= donor%>
    </p>
    <a href="login" class="login">LOG IN</a>
    <p class="BDMS">BLOOD DONATION MANAGEMENT SYSTEM</p>
    <div class="shit"></div>
    <div class="whiteblock1"></div>
    <p class="donatedblood">BLOOD DONATIONS TILL NOW <br><br>
      <%= samples%>
    </p>
  
    <div class="blackblock"></div>
    <img src="blood_drop.png" alt="" class="blooddrop">
    <div class="redblock1"></div>
    <p class="donationtable">COMPATIBLE BLOOD TYPE DONORS</p>
    <table class="donationcompatibility">
        <thead>
        <tr>
            <th>BLOOD TYPE</th>
            <th>DONATE BLOOD TO</th>
            <th>RECEIVE BLOOD FROM</th>
        </tr>
        </thead>
        <tr>
            <td>A+</td>
            <td>A+ AB+</td> 
            <td>A+</td>
        </tr>
        <tr>
            <td>O+</td>
            <td>O+ A+ B+ AB+</td>
            <td>O+</td>
        </tr>
        <tr>
            <td>B+</td>
            <td>B+ AB+</td>
            <td>B+</td>
        </tr>
        <tr>
            <td>AB+</td>
            <td>AB+</td>
            <td>AB+</td>
        </tr>
        <tr>
            <td>A-</td>
            <td>A- A+ AB+ AB-</td>
            <td>A-</td>
        </tr>
        <tr>
            <td>O-</td>
            <td>EVERYONE</td>
            <td>O-</td>
        </tr>
        <tr>
            <td>B-</td>
            <td>B- B+ AB- AB+</td>
            <td>B-</td>
        </tr>
        <tr>
            <td>AB-</td>
            <td>AB- AB+</td>
            <td>AB-</td>
        </tr>
    </table>
<div class="redblock2"></div>
<p class="text1">TYPES OF DONATIONS</p>
<div class="yellowblock"></div>
<p class="text2">The human body contains five liters of blood, which is made of several useful components i.e. Whole blood, Platelet, and Plasma.</p>
<p class="text3">Each type of component has several medical uses and can be used for different medical treatments. your blood donation determines the best donation for you to make.</p>
<p class="text4">For plasma and platelet donation you must have donated whole blood in past two years.</p>
<div class="greyblock"></div>
<p class="text5">A PROJECT BY THE <a href="/about" style="text-decoration:none; color: black;">STUDENTS</a> OF <a href="http://diu.iiitvadodara.ac.in/" style="text-decoration:none; color: black;" target="_blank"> IIITV-ICD</a></p>
<div class="slideshow-container">

    <div class="mySlides fade">
      <div class="numbertext">1 / 3</div>
      <img src="5bd4556942d20-wallpaper-preview.jpg" style="width:550px">
      <!-- <div class="text">Caption Text</div> -->
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img src="Blood_3_7900.jpg" style="width:550px" >
      <!-- <div class="text">Caption Two</div> -->
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="360_F_276718846_1mDkxI8gb6FrfuwAiPb6OuB4M7BbeuoV.jpg" style="width:550px; ">
      <!-- <div class="text">Caption Three</div> -->
    </div>

    
    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>
    
    </div>
    <br>
    
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span> 
      <span class="dot" onclick="currentSlide(2)"></span> 
      <span class="dot" onclick="currentSlide(3)"></span> 
    </div>
    <script>
        let slideIndex = 1;
        showSlides(slideIndex);
        
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }
        
        function currentSlide(n) {
          showSlides(slideIndex = n);
        }
        
        function showSlides(n) {
          let i;
          let slides = document.getElementsByClassName("mySlides");
          let dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}    
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";  
          dots[slideIndex-1].className += " active";
        }
        </script>
</body>
</html>