<!DOCTYPE html>
<html>
  <head>
    <title>Tutorial</title>
  </head>
  <body>
    <h1>Submitted form details</h1>

    <details>
      <summary>First Name</summary>
      <p><%= email %></p>
    </details>

    <details>
      <summary>Last Name</summary>
      <p><%= password %></p>
    </details>
    <details>
      <summary>Birthday</summary>
      <p><%= option %></p>
    </details>
  </body>
</html>