<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User login</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Graduate' rel='stylesheet'>
</head>
<body>
    <div class="main">
    <div class="redblock">
    </div>
    <form action="" method="post">
    <div class="login">
        <h1 color="red" >LOG IN</h1>
    </div>
    <div class="line"> </div>
    
    <img src="blood_drop.png" alt="" class="blooddrop">
    
    <div class="email">
        <h4>E-MAIL ADDRESS</h4>
    </div>
    <div class="blank1">
        <input type="email" name="email" value required>
    </div>
    <div class="password">
        <h4>PASSWORD</h4>
    </div>
    <div class="blank2">
        <input type="password" name="password" value required>
    </div>
    <div class="select_user">
        <h4>SELECT USER CATEGORY</h4>
    </div>
    <div class="blank3">
        <select name="usertype" id="usertype" >
            <option value="campuser">Camp authorized</option>
            <option value="bloodbankuser">Bloodbank authorized</option>
            <option value="hospitaluser">Hospital authorized</option>
        </select>
    </div>
    <div class="submit">
        <input type="submit" value="SUBMIT">
    </div>
    </form>
</div>

    <div id="conditional">
    <% if(msg) {  %>
        <p > <%= msg %></p>
    <% } %>

    </div>
    <script>
        // alert(temp);
        setTimeout(function() {
        document.getElementById('conditional').style.display = 'none';
      }, 2500); 
    </script>


</body>
</html>